In [2]:
import pandas as pd

In [3]:
# With two cols

ipl = pd.read_csv('kohli_ipl.csv',index_col='match_no').squeeze()       # index_col --> choosing the index column by column name
ipl

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
movie = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [5]:
# With one col

subs = pd.read_csv('subs.csv',).squeeze()       # squeeze coverts Dataframe to Series
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

# Series maths methods

In [6]:
# count
ipl.count()

np.int64(215)

In [7]:
# sum
subs.sum()

np.int64(49510)

In [8]:
# mean 
subs.mean()

np.float64(135.64383561643837)

In [9]:
# median
ipl.median()

np.float64(24.0)

In [10]:
# mode
movie.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [11]:
# standard deviation
ipl.std()

np.float64(26.22980132830278)

In [12]:
subs.std()

np.float64(62.6750230372527)

In [13]:
# Variance
ipl.var()

np.float64(688.0024777222343)

In [14]:
# min/max

subs.min()

np.int64(33)

In [15]:
subs.max()

np.int64(396)

In [16]:
# describe

ipl.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

# Series Indexing

In [17]:
# indexing -> only allows positive indexing on numericals
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
x[3]

np.int64(4)

In [18]:
movie[0]

C:\Users\sdkok\AppData\Local\Temp\ipykernel_14128\657415701.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movie[0]

'Vicky Kaushal'

In [19]:
# Negative indexing works on object only
movie[-1]

C:\Users\sdkok\AppData\Local\Temp\ipykernel_14128\355366274.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movie[-1]

'Akshay Kumar'

In [20]:
movie['Uri: The Surgical Strike']

'Vicky Kaushal'

In [21]:
# Slicing

ipl[5:16]

match_no
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
Name: runs, dtype: int64

In [22]:
# negative slicing
ipl[-5:]

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [23]:
movie[10:21]

movie
Amavas                                  Ali Asgar
Gully Boy                           Ranveer Singh
Hum Chaar                             Prit Kamani
Total Dhamaal                          Ajay Devgn
Sonchiriya                   Sushant Singh Rajput
Badla (2019 film)                Amitabh Bachchan
Mard Ko Dard Nahi Hota           Abhimanyu Dasani
Hamid (film)                   Talha Arshad Reshi
Photograph (film)             Nawazuddin Siddiqui
Risknamaa                          Garima Agarwal
Mere Pyare Prime Minister           Rasika Agashe
Name: lead, dtype: object

In [24]:
movie[-10:]

movie
Raaz (2002 film)                    Dino Morea
Zameen (2003 film)                  Ajay Devgn
Waisa Bhi Hota Hai Part II        Arshad Warsi
Devdas (2002 Hindi film)        Shah Rukh Khan
Kaante                        Amitabh Bachchan
Hum Tumhare Hain Sanam          Shah Rukh Khan
Aankhen (2002 film)           Amitabh Bachchan
Saathiya (film)                   Vivek Oberoi
Company (film)                      Ajay Devgn
Awara Paagal Deewana              Akshay Kumar
Name: lead, dtype: object

In [25]:
ipl[::2]

match_no
1       1
3      13
5       1
7      34
9      21
       ..
207     0
209    58
211     0
213    73
215     7
Name: runs, Length: 108, dtype: int64

In [26]:
# fancy indexing
ipl[[1,24,10,4]]

match_no
1      1
24    24
10     3
4     12
Name: runs, dtype: int64

In [27]:
# Indexing with labels -> fancy indexing
movie['Battalion 609']

'Vicky Ahuja'

# Editing Series

In [28]:
marks = {
    'Maths':85,
    'English':50,
    'Marathi':67,
    'History':56,
    'Geography':87
    }

marks_subject = pd.Series(marks,name = "Marks with Dict")
marks_subject

Maths        85
English      50
Marathi      67
History      56
Geography    87
Name: Marks with Dict, dtype: int64

In [34]:
# Using indexing 
marks_subject[1] = 100
marks_subject

C:\Users\sdkok\AppData\Local\Temp\ipykernel_14128\951737185.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_subject[1] = 100

Maths         85
English      100
Marathi       67
History       56
Geography     87
Name: Marks with Dict, dtype: int64

In [36]:
# What if an index does not exist
marks_subject['EVS'] = 76
marks_subject

Maths         85
English      100
Marathi       67
History       56
Geography     87
EVS           76
Name: Marks with Dict, dtype: int64

In [ ]:
# Slicing
runs = ipl.head(5)
runs

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [42]:
runs[1:3] = [50,24]
runs

match_no
1     1
2    50
3    24
4    12
5     1
Name: runs, dtype: int64

In [45]:
# Fancy Indexing
runs[[1,3,5]] = [20,40,59]
runs

match_no
1    20
2    50
3    40
4    12
5    59
Name: runs, dtype: int64

In [48]:
# using label indexing
movie['Saathiya (film)'] = 'Ajay Devgan'
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                              Ajay Devgan
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object