## Pandas
- Pandas is a fast,powerful, flexible and easy to use open source data analysis and manipulation tool, built on the top of python programming language

## Pandas Series
- A pandas series is like a column of table. It is 1-D array holding data of any type

In [1]:
# import pandas library
import numpy as np
import pandas as pd

## Series from lists

In [2]:
# String
country = ['India','USA','Brazil','New zealand','Australia']
pd.Series(country)

0          India
1            USA
2         Brazil
3    New zealand
4      Australia
dtype: object

In [3]:
# Integers
runs = [12,34,54,6,67,23]
pd.Series(runs)

0    12
1    34
2    54
3     6
4    67
5    23
dtype: int64

In [4]:
# Custom Index

marks = [35,65,87,34,87]
subject = ['English','Maths','History','Geography','Marathi']

pd.Series(marks,subject)

English      35
Maths        65
History      87
Geography    34
Marathi      87
dtype: int64

In [5]:
# Setting a Name

marks = [35,65,87,34,87]
subject = ['English','Maths','History','Geography','Marathi']

pd.Series(marks,index=subject,name ="Subject-wise Marks")

English      35
Maths        65
History      87
Geography    34
Marathi      87
Name: Subject-wise Marks, dtype: int64

# Series from Dict

In [6]:
marks = {
    'Maths':85,
    'English':50,
    'Marathi':67,
    'History':56,
    'Geography':87
    }

marks_subject = pd.Series(marks,name = "Marks with Dict")
marks_subject

Maths        85
English      50
Marathi      67
History      56
Geography    87
Name: Marks with Dict, dtype: int64

# Series Attribute

In [7]:
# size
marks_subject.size

5

In [8]:
# dtype
marks_subject.dtype

dtype('int64')

In [9]:
# name
marks_subject.name

'Marks with Dict'

In [10]:
# isUnique
pd.Series([1,2,3,1,4,5]).is_unique

False

In [11]:
# index
marks_subject.index

Index(['Maths', 'English', 'Marathi', 'History', 'Geography'], dtype='object')

In [12]:
pd.Series(runs).index

RangeIndex(start=0, stop=6, step=1)

In [13]:
# values
pd.Series(country).values

array(['India', 'USA', 'Brazil', 'New zealand', 'Australia'], dtype=object)

In [14]:
pd.Series(marks_subject).values

array([85, 50, 67, 56, 87])

# Series using read_CSV

In [15]:
# With one col

subs = pd.read_csv('subs.csv',).squeeze()       # squeeze coverts Dataframe to Series
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [16]:
# With two cols

ipl = pd.read_csv('kohli_ipl.csv',index_col='match_no').squeeze()       # index_col --> choosing the index column by column name
ipl

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [17]:
movie = pd.read_csv('bollywood.csv',index_col='movie').squeeze()
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [19]:
movie.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64