In [7]:
# import lib 
import numpy as np
import pandas as pd

In [8]:
# importing files

movies = pd.read_csv('imdb-top-1000.csv')
delivery = pd.read_csv('deliveries.csv')

# Aggreagation Methods

In [9]:
genre = movies.groupby("Genre")

In [10]:
# aggregation functions
# passing dict --> can apply different agg func at same-time on group-by

genre.agg(
    {
        'Runtime':'mean',
        'IMDB_Rating':'mean',
        'No_of_Votes':'sum',
        'Metascore':'min'
    }
)

              Runtime  IMDB_Rating  No_of_Votes  Metascore
Genre
Action     129.046512     7.949419     72282412       33.0
Adventure  134.111111     7.937500     22576163       41.0
Animation   99.585366     7.930488     21978630       61.0
Biography  136.022727     7.938636     24006844       48.0
Comedy     112.129032     7.901290     27620327       45.0
Crime      126.392523     8.016822     33533615       47.0
Drama      124.737024     7.957439     61367304       28.0
Family     107.500000     7.800000       551221       67.0
Fantasy     85.000000     8.000000       146222        NaN
Film-Noir  104.000000     7.966667       367215       94.0
Horror     102.090909     7.909091      3742556       46.0
Mystery    119.083333     7.975000      4203004       52.0
Thriller   108.000000     7.800000        27733       81.0
Western    148.250000     8.350000      1289665       69.0

In [11]:
# passing list

genre.agg(['max','min'])

                                  Series_Title  \
                                           max
Genre
Action                                 Yôjinbô
Adventure                           Zombieland
Animation          Ôkami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        À bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                           Released_Year       Runtime       \
                                       min           max   min     max  min
Genre
Action                                 300          2019  1924     321   45
Adventure            2001: A Space Odyssey            PG  1925     228   88
Animation                            Akira          2020  1940     137   71
Biography                 12 Years a Slave          2020  1928     209   93
Comedy                (500) Days of Summer          2020  1921     188   68
Crime                         12 Angry Men          2019  1931     229   80
Drama                                 1917          2020  1925     242   64
Family          E.T. the Extra-Terrestrial          1982  1971     115  100
Fantasy       Das Cabinet des Dr. Caligari          1922  1920      94   76
Film-Noir                Shadow of a Doubt          1949  1941     108  100
Horror                               Alien          2017  1933     122   71
Mystery                          Dark City          2012  1938     138   96
Thriller                   Wait Until Dark          1967  1967     108  108
Western    Il buono, il brutto, il cattivo          1976  1965     165  132

          IMDB_Rating               Director                         \
                  max  min               max                    min
Genre
Action            9.0  7.6       Zack Snyder       Abhishek Chaubey
Adventure         8.6  7.6  Ömer Faruk Sorak         Akira Kurosawa
Animation         8.6  7.6   Yoshifumi Kondô            Adam Elliot
Biography         8.9  7.6      Tom McCarthy             Adam McKay
Comedy            8.6  7.6       Zoya Akhtar  Alejandro G. Iñárritu
Crime             9.2  7.6      Yavuz Turgul         Akira Kurosawa
Drama             9.3  7.6       Çagan Irmak             Aamir Khan
Family            7.8  7.8  Steven Spielberg             Mel Stuart
Fantasy           8.1  7.9      Robert Wiene            F.W. Murnau
Film-Noir         8.1  7.8       John Huston       Alfred Hitchcock
Horror            8.5  7.6  William Friedkin     Alejandro Amenábar
Mystery           8.4  7.6     Terry Gilliam            Alex Proyas
Thriller          7.8  7.8     Terence Young          Terence Young
Western           8.8  7.8      Sergio Leone         Clint Eastwood

                      Star1                           No_of_Votes          \
                        max                       min         max     min
Genre
Action         Yun-Fat Chow                Aamir Khan     2303232   25312
Adventure      Yves Montand                Aamir Khan     1512360   29999
Animation      Yôji Matsuda             Adrian Molina      999790   25229
Biography     Éric Toledano              Adrien Brody     1213505   27254
Comedy     Ömer Faruk Sorak                Aamir Khan      939631   26337
Crime        Vincent Cassel                Ajay Devgn     1826188   27712
Drama        Çetin Tekindor                Abhay Deol     2343110   25088
Family         Henry Thomas               Gene Wilder      372490  178731
Fantasy       Werner Krauss               Max Schreck       88794   57428
Film-Noir     Teresa Wright           Humphrey Bogart      158731   59556
Horror     Sigourney Weaver           Anthony Perkins      787806   27007
Mystery         Vidya Balan  Bernard-Pierre Donnadieu     1129894   33982
Thriller     Audrey Hepburn            Audrey Hepburn       27733   27733
Western         Henry Fonda            Clint Eastwood      688390   65659

                 Gross              Metascore
                   max          min       max   min
Genre
Action     936662225.0       3296.0      98.0  33.0
Adventure  874211619.0      61001.0     100.0  41.0
Animation  873839108.0     128985.0      96.0  61.0
Biography  753585104.0      21877.0      97.0  48.0
Comedy     886752933.0       1305.0      99.0  45.0
Crime      790482117.0       6013.0     100.0  47.0
Drama      924558264.0       3600.0     100.0  28.0
Family     435110554.0    4000000.0      91.0  67.0
Fantasy    445151978.0  337574718.0       NaN   NaN
Film-Noir  123353292.0     449191.0      97.0  94.0
Horror     298791505.0      89029.0      97.0  46.0
Mystery    474203697.0    1035953.0     100.0  52.0
Thriller    17550741.0   17550741.0      81.0  81.0
Western     31800000.0    5321508.0      90.0  69.0

In [12]:
# specific agg func on any column
genre.agg(
    {
        'Runtime': ['mean','min'],
        'IMDB_Rating':'mean',
        'No_of_Votes':['sum','max'],
        'Metascore':'min'
    }
)

              Runtime      IMDB_Rating No_of_Votes          Metascore
                 mean  min        mean         sum      max       min
Genre
Action     129.046512   45    7.949419    72282412  2303232      33.0
Adventure  134.111111   88    7.937500    22576163  1512360      41.0
Animation   99.585366   71    7.930488    21978630   999790      61.0
Biography  136.022727   93    7.938636    24006844  1213505      48.0
Comedy     112.129032   68    7.901290    27620327   939631      45.0
Crime      126.392523   80    8.016822    33533615  1826188      47.0
Drama      124.737024   64    7.957439    61367304  2343110      28.0
Family     107.500000  100    7.800000      551221   372490      67.0
Fantasy     85.000000   76    8.000000      146222    88794       NaN
Film-Noir  104.000000  100    7.966667      367215   158731      94.0
Horror     102.090909   71    7.909091     3742556   787806      46.0
Mystery    119.083333   96    7.975000     4203004  1129894      52.0
Thriller   108.000000  108    7.800000       27733    27733      81.0
Western    148.250000  132    8.350000     1289665   688390      69.0

In [28]:
# looping on groups
for group,data in genre:
    print(data)

                                          Series_Title Released_Year  Runtime  \
2                                      The Dark Knight          2008      152
5        The Lord of the Rings: The Return of the King          2003      201
8                                            Inception          2010      148
10   The Lord of the Rings: The Fellowship of the Ring          2001      178
13               The Lord of the Rings: The Two Towers          2002      179
..                                                 ...           ...      ...
968                                       Falling Down          1993      113
979                                      Lethal Weapon          1987      109
982                                          Mad Max 2          1981       96
983                                       The Warriors          1979       92
985                               Escape from Alcatraz          1979      112

      Genre  IMDB_Rating           Director              Star1  No_of_Votes  \
2    Action          9.0  Christopher Nolan     Christian Bale      2303232
5    Action          8.9      Peter Jackson        Elijah Wood      1642758
8    Action          8.8  Christopher Nolan  Leonardo DiCaprio      2067042
10   Action          8.8      Peter Jackson        Elijah Wood      1661481
13   Action          8.7      Peter Jackson        Elijah Wood      1485555
..      ...          ...                ...                ...          ...
968  Action          7.6    Joel Schumacher    Michael Douglas       171640
979  Action          7.6     Richard Donner         Mel Gibson       236894
982  Action          7.6      George Miller         Mel Gibson       166588
983  Action          7.6        Walter Hill       Michael Beck        93878
985  Action          7.6         Don Siegel     Clint Eastwood       121731

           Gross  Metascore
2    534858444.0       84.0
5    377845905.0       94.0
8    292576195.0       74.0
10   315544750.0       92.0
13   342551365.0       87.0
..           ...        ...
968   40903593.0       56.0
979   65207127.0       68.0
982   12465371.0       77.0
983   22490039.0       65.0
985   43000000.0       76.0

[172 rows x 10 columns]
                       Series_Title Released_Year  Runtime      Genre  \
21                     Interstellar          2014      169  Adventure
47               Back to the Future          1985      116  Adventure
93             Inglourious Basterds          2009      153  Adventure
110                        Das Boot          1981      149  Adventure
114           2001: A Space Odyssey          1968      149  Adventure
..                              ...           ...      ...        ...
957  Fear and Loathing in Las Vegas          1998      118  Adventure
964                        Dead Man          1995      121  Adventure
966                       Apollo 13            PG      140  Adventure
984                The Muppet Movie          1979       95  Adventure
991                  Kelly's Heroes          1970      144  Adventure

     IMDB_Rating           Director                Star1  No_of_Votes  \
21           8.6  Christopher Nolan  Matthew McConaughey      1512360
47           8.5    Robert Zemeckis       Michael J. Fox      1058081
93           8.3  Quentin Tarantino            Brad Pitt      1267869
110          8.3  Wolfgang Petersen      Jürgen Prochnow       231855
114          8.3    Stanley Kubrick          Keir Dullea       603517
..           ...                ...                  ...          ...
957          7.6      Terry Gilliam          Johnny Depp       259753
964          7.6       Jim Jarmusch          Johnny Depp        90442
966          7.6         Ron Howard            Tom Hanks       269197
984          7.6      James Frawley           Jim Henson        32802
991          7.6    Brian G. Hutton       Clint Eastwood        45338

           Gross  Metascore
21   188020017.0       74.0
47   210609762.0       87.0
93   120540719.0       69.0
110   11487676.0       86.0
114   56954992.0       84.0
..           ...        ...
957   10680275.0       41.0
964    1037847.0       62.0
966  173837933.0       77.0
984   76657000.0       74.0
991    1378435.0       50.0

[72 rows x 10 columns]
                          Series_Title Released_Year  Runtime      Genre  \
23       Sen to Chihiro no kamikakushi          2001      125  Animation
43                       The Lion King          1994       88  Animation
46                      Hotaru no haka          1988       89  Animation
56                      Kimi no na wa.          2016      106  Animation
58   Spider-Man: Into the Spider-Verse          2018      117  Animation
..                                 ...           ...      ...        ...
956                              Mulan          1998       88  Animation
971                  Omohide poro poro          1991      118  Animation
976                 The Little Mermaid          1989       83  Animation
986                     Watership Down          1978       91  Animation
992                    The Jungle Book          1967       78  Animation

     IMDB_Rating             Director             Star1  No_of_Votes  \
23           8.6       Hayao Miyazaki     Daveigh Chase       651376
43           8.5         Roger Allers       Rob Minkoff       942045
46           8.5        Isao Takahata   Tsutomu Tatsumi       235231
56           8.4       Makoto Shinkai  Ryûnosuke Kamiki       194838
58           8.4      Bob Persichetti      Peter Ramsey       375110
..           ...                  ...               ...          ...
956          7.6        Tony Bancroft        Barry Cook       256906
971          7.6        Isao Takahata         Miki Imai        27071
976          7.6         Ron Clements       John Musker       237696
986          7.6         Martin Rosen       John Hubley        33656
992          7.6  Wolfgang Reitherman       Phil Harris       166409

           Gross  Metascore
23    10055859.0       96.0
43   422783777.0       88.0
46   150734678.0       94.0
56     5017246.0       79.0
58   190241310.0       87.0
..           ...        ...
956  120620254.0       71.0
971     453243.0       90.0
976  111543479.0       88.0
986  232841485.0       64.0
992  141843612.0       65.0

[82 rows x 10 columns]
          Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7     Schindler's List          1993      195  Biography          8.9
15          Goodfellas          1990      146  Biography          8.7
18            Hamilton          2020      160  Biography          8.6
35    The Intouchables          2011      112  Biography          8.5
38         The Pianist          2002      150  Biography          8.5
..                 ...           ...      ...        ...          ...
923     La Vie En Rose          2007      140  Biography          7.6
940  Finding Neverland          2004      106  Biography          7.6
949               Blow          2001      124  Biography          7.6
952      The Hurricane          1999      146  Biography          7.6
987   Midnight Express          1978      121  Biography          7.6

             Director               Star1  No_of_Votes        Gross  Metascore
7    Steven Spielberg         Liam Neeson      1213505   96898818.0       94.0
15    Martin Scorsese      Robert De Niro      1020727   46836394.0       90.0
18        Thomas Kail  Lin-Manuel Miranda        55291  440984783.0       90.0
35    Olivier Nakache       Éric Toledano       760360   13182281.0       57.0
38     Roman Polanski        Adrien Brody       729603   32572577.0       85.0
..                ...                 ...          ...          ...        ...
923     Olivier Dahan    Marion Cotillard        82781   10301706.0       66.0
940      Marc Forster         Johnny Depp       198677   51680613.0       67.0
949         Ted Demme         Johnny Depp       240714   52990775.0       52.0
952    Norman Jewison   Denzel Washington        91557   50668906.0       74.0
987       Alan Parker          Brad Davis        73662   35000000.0       59.0

[88 rows x 10 columns]
                                       Series_Title Released_Year  Runtime  \
19                                     Gisaengchung          2019      132
26                                  La vita è bella          1997      116
51                                     Modern Times          1936       87
52                                      City Lights          1931       87
64                                         3 Idiots          2009      170
..                                              ...           ...      ...
977  The Naked Gun: From the Files of Police Squad!          1988       85
978                    Planes, Trains & Automobiles          1987       93
989                                The Long Goodbye          1973      112
994                              A Hard Day's Night          1964       87
995                          Breakfast at Tiffany's          1961      115

      Genre  IMDB_Rating         Director            Star1  No_of_Votes  \
19   Comedy          8.6     Bong Joon Ho     Kang-ho Song       552778
26   Comedy          8.6  Roberto Benigni  Roberto Benigni       623629
51   Comedy          8.5  Charles Chaplin  Charles Chaplin       217881
52   Comedy          8.5  Charles Chaplin  Charles Chaplin       167839
64   Comedy          8.4  Rajkumar Hirani       Aamir Khan       344445
..      ...          ...              ...              ...          ...
977  Comedy          7.6     David Zucker   Leslie Nielsen       152871
978  Comedy          7.6      John Hughes     Steve Martin       124773
989  Comedy          7.6    Robert Altman    Elliott Gould        26337
994  Comedy          7.6   Richard Lester      John Lennon        40351
995  Comedy          7.6    Blake Edwards   Audrey Hepburn       166544

           Gross  Metascore
19    53367844.0       96.0
26    57598247.0       59.0
51      163245.0       96.0
52       19181.0       99.0
64     6532908.0       67.0
..           ...        ...
977   78756177.0       76.0
978   49530280.0       72.0
989     959000.0       87.0
994   13780024.0       96.0
995  679874270.0       76.0

[155 rows x 10 columns]
                Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1              The Godfather          1972      175  Crime          9.2
3     The Godfather: Part II          1974      202  Crime          9.0
4               12 Angry Men          1957       96  Crime          9.0
6               Pulp Fiction          1994      154  Crime          8.9
22            Cidade de Deus          2002      130  Crime          8.6
..                       ...           ...      ...    ...          ...
958              Funny Games          1997      108  Crime          7.6
960                 Sleepers          1996      147  Crime          7.6
974  The Godfather: Part III          1990      162  Crime          7.6
980             Blood Simple          1984       99  Crime          7.6
999             The 39 Steps          1935       86  Crime          7.6

                 Director           Star1  No_of_Votes        Gross  Metascore
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0       96.0
6       Quentin Tarantino   John Travolta      1826188  107928762.0       94.0
22     Fernando Meirelles      Kátia Lund       699256    7563397.0       79.0
..                    ...             ...          ...          ...        ...
958        Michael Haneke  Susanne Lothar        65058  217345863.0       69.0
960        Barry Levinson  Robert De Niro       186734   49100000.0       49.0
974  Francis Ford Coppola       Al Pacino       359809   66666062.0       60.0
980             Joel Coen      Ethan Coen        87745    2150000.0       82.0
999      Alfred Hitchcock    Robert Donat        51853  302787539.0       93.0

[107 rows x 10 columns]
                        Series_Title Released_Year  Runtime  Genre  \
0           The Shawshank Redemption          1994      142  Drama
9                         Fight Club          1999      139  Drama
11                      Forrest Gump          1994      142  Drama
17   One Flew Over the Cuckoo's Nest          1975      133  Drama
20                   Soorarai Pottru          2020      153  Drama
..                               ...           ...      ...    ...
990                     Giù la testa          1971      157  Drama
993                           Blowup          1966      111  Drama
996                            Giant          1956      201  Drama
997            From Here to Eternity          1953      118  Drama
998                         Lifeboat          1944       97  Drama

     IMDB_Rating                Director              Star1  No_of_Votes  \
0            9.3          Frank Darabont        Tim Robbins      2343110
9            8.8           David Fincher          Brad Pitt      1854740
11           8.8         Robert Zemeckis          Tom Hanks      1809221
17           8.7            Milos Forman     Jack Nicholson       918088
20           8.6           Sudha Kongara             Suriya        54995
..           ...                     ...                ...          ...
990          7.6            Sergio Leone        Rod Steiger        30144
993          7.6  Michelangelo Antonioni     David Hemmings        56513
996          7.6          George Stevens   Elizabeth Taylor        34075
997          7.6          Fred Zinnemann     Burt Lancaster        43374
998          7.6        Alfred Hitchcock  Tallulah Bankhead        26471

           Gross  Metascore
0     28341469.0       80.0
9     37030102.0       66.0
11   330252182.0       82.0
17   112000000.0       83.0
20   556832648.0        NaN
..           ...        ...
990     696690.0       77.0
993  632532802.0       82.0
996  195217415.0       84.0
997   30500000.0       85.0
998  852142728.0       78.0

[289 rows x 10 columns]
                            Series_Title Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial          1982      115  Family
698  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
                     Series_Title Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari          1920       76  Fantasy
568                     Nosferatu          1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0
568          7.9   F.W. Murnau    Max Schreck        88794  445151978.0

     Metascore
321        NaN
568        NaN
           Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
309       The Third Man          1949      104  Film-Noir          8.1
456  The Maltese Falcon          1941      100  Film-Noir          8.0
712   Shadow of a Doubt          1943      108  Film-Noir          7.8

             Director            Star1  No_of_Votes        Gross  Metascore
309        Carol Reed     Orson Welles       158731     449191.0       97.0
456       John Huston  Humphrey Bogart       148928    2108060.0       96.0
712  Alfred Hitchcock    Teresa Wright        59556  123353292.0       94.0
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
49                     Psycho          1960      109  Horror          8.5
75                      Alien          1979      117  Horror          8.4
271                 The Thing          1982      109  Horror          8.1
419              The Exorcist          1973      122  Horror          8.0
544  Night of the Living Dead          1968       96  Horror          7.9
707             The Innocents          1961      100  Horror          7.8
724                   Get Out          2017      104  Horror          7.7
844                 Halloween          1978       91  Horror          7.7
876         The Invisible Man          1933       71  Horror          7.7
932                       Saw          2004      103  Horror          7.6
948                The Others          2001      101  Horror          7.6

               Director             Star1  No_of_Votes        Gross  Metascore
49     Alfred Hitchcock   Anthony Perkins       604211   32000000.0       97.0
75         Ridley Scott  Sigourney Weaver       787806   78900000.0       89.0
271      John Carpenter      Kurt Russell       371271   13782838.0       57.0
419    William Friedkin     Ellen Burstyn       362393  232906145.0       81.0
544    George A. Romero       Duane Jones       116557      89029.0       89.0
707        Jack Clayton      Deborah Kerr        27007    2616000.0       88.0
724        Jordan Peele    Daniel Kaluuya       492851  176040665.0       85.0
844      John Carpenter  Donald Pleasence       233106   47000000.0       87.0
876         James Whale      Claude Rains        30683  298791505.0       87.0
932           James Wan        Cary Elwes       379020   56000369.0       46.0
948  Alejandro Amenábar     Nicole Kidman       337651   96522687.0       74.0
          Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
69             Memento          2000      113  Mystery          8.4
81         Rear Window          1954      112  Mystery          8.4
119            Vertigo          1958      128  Mystery          8.3
145     Shutter Island          2010      138  Mystery          8.2
220            Kahaani          2012      122  Mystery          8.1
393     Twelve Monkeys          1995      129  Mystery          8.0
420             Sleuth          1972      138  Mystery          8.0
714  The Lady Vanishes          1938       96  Mystery          7.8
829          Spoorloos          1988      107  Mystery          7.7
899          El cuerpo          2012      112  Mystery          7.6
959          Dark City          1998      100  Mystery          7.6
961       Lost Highway          1997      134  Mystery          7.6

                 Director                     Star1  No_of_Votes        Gross  \
69      Christopher Nolan                Guy Pearce      1125712   25544867.0
81       Alfred Hitchcock             James Stewart       444074   36764313.0
119      Alfred Hitchcock             James Stewart       364368    3200000.0
145       Martin Scorsese         Leonardo DiCaprio      1129894  128012934.0
220           Sujoy Ghosh               Vidya Balan        57806    1035953.0
393         Terry Gilliam              Bruce Willis       578443   57141459.0
420  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254.0
714      Alfred Hitchcock         Margaret Lockwood        47400  474203697.0
829        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835.0
899           Oriol Paulo             Jose Coronado        57549  140340673.0
959           Alex Proyas              Rufus Sewell       187927   14378331.0
961           David Lynch              Bill Pullman       131101    3796699.0

     Metascore
69        80.0
81       100.0
119      100.0
145       63.0
220        NaN
393       74.0
420        NaN
714       98.0
829        NaN
899        NaN
959       66.0
961       52.0
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
700  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore
700  Terence Young  Audrey Hepburn        27733  17550741.0       81.0

In [33]:
# split apply combine
# apply - builtin function --> custom logic 
genre.apply(min)

C:\Users\sdkok\AppData\Local\Temp\ipykernel_5916\3685771766.py:2: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genre.apply(min)
C:\Users\sdkok\AppData\Local\Temp\ipykernel_5916\3685771766.py:2: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [84]:
# find number of movies starting with A for each group
def Starts_A(group):
    return group['Series_Title'].str.startswith('A').sum()

In [85]:
genre.apply(Starts_A)   # split-apply-combine

C:\Users\sdkok\AppData\Local\Temp\ipykernel_5916\2210422566.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(Starts_A)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [94]:
# find ranking of each movie in the group according to IMDB rating
def rank(group):
    group['Genre_Rank'] = group['IMDB_Rating'].rank(ascending = False)
    return group

In [95]:
genre.apply(rank)

C:\Users\sdkok\AppData\Local\Temp\ipykernel_5916\1258213396.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(rank)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Genre_Rank
Genre
Action   2           1.0
         5           2.0
         8           3.5
         10          3.5
         13          6.0
...                  ...
Thriller 700         1.0
Western  12          1.0
         48          2.0
         115         3.0
         691         4.0

[1000 rows x 11 columns]

In [108]:
# find normalize IMDB rating group wise
def normalization(group):
    group['Norm_Rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min()) / (group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

In [109]:
genre.apply(normalization)

C:\Users\sdkok\AppData\Local\Temp\ipykernel_5916\1858222701.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(normalization)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              Norm_Rating
Genre
Action   2       1.000000
         5       0.928571
         8       0.857143
         10      0.857143
         13      0.785714
...                   ...
Thriller 700          NaN
Western  12      1.000000
         48      0.700000
         115     0.500000
         691     0.000000

[1000 rows x 11 columns]

In [112]:
# groupby on multiple-col
duo = movies.groupby(by=['Director','Star1'])
duo

In [114]:
# size
duo.size()

Director             Star1
Aamir Khan           Amole Gupte       1
Aaron Sorkin         Eddie Redmayne    1
Abdellatif Kechiche  Léa Seydoux       1
Abhishek Chaubey     Shahid Kapoor     1
Abhishek Kapoor      Amit Sadh         1
                                      ..
Zaza Urushadze       Lembit Ulfsak     1
Zoya Akhtar          Hrithik Roshan    1
                     Vijay Varma       1
Çagan Irmak          Çetin Tekindor    1
Ömer Faruk Sorak     Cem Yilmaz        1
Length: 898, dtype: int64

In [115]:
# get_group
duo.get_group(('Aamir Khan','Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [122]:
# find the most earning actor -> director combo
duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

In [123]:
# find the best (in-terms of metascore(avg)) actor->genre combo
duos = movies.groupby(['Genre','Star1'])

In [138]:
duos['Metascore'].mean().reset_index().sort_values("Metascore",ascending=False)  # reset_index -> converts Series into DataFrame

       Genre                     Star1  Metascore
819  Mystery             James Stewart      100.0
593    Drama                Cary Grant      100.0
653    Drama           Humphrey Bogart      100.0
732    Drama              Orson Welles      100.0
620    Drama            Ellar Coltrane      100.0
..       ...                       ...        ...
800  Fantasy             Werner Krauss        NaN
815  Mystery  Bernard-Pierre Donnadieu        NaN
820  Mystery             Jose Coronado        NaN
821  Mystery          Laurence Olivier        NaN
825  Mystery               Vidya Balan        NaN

[829 rows x 3 columns]

In [162]:
# agg methods
duo.agg(['sum', 'min', 'max'])

                                                  Series_Title  \
                                                           sum
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                                \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           max           sum
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                               Runtime                Genre  \
                                     min   max     sum  min  max        sum
Director            Star1
Aamir Khan          Amole Gupte     2007  2007     165  165  165      Drama
Aaron Sorkin        Eddie Redmayne  2020  2020     129  129  129      Drama
Abdellatif Kechiche Léa Seydoux     2013  2013     180  180  180      Drama
Abhishek Chaubey    Shahid Kapoor   2016  2016     148  148  148     Action
Abhishek Kapoor     Amit Sadh       2013  2013     130  130  130      Drama
...                                  ...   ...     ...  ...  ...        ...
Zaza Urushadze      Lembit Ulfsak   2013  2013      87   87   87      Drama
Zoya Akhtar         Hrithik Roshan  2011  2011     155  155  155     Comedy
                    Vijay Varma     2019  2019     154  154  154      Drama
Çagan Irmak         Çetin Tekindor  2005  2005     112  112  112      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004  2004     127  127  127  Adventure

                                    ... IMDB_Rating No_of_Votes          \
                                    ...         max         sum     min
Director            Star1           ...
Aamir Khan          Amole Gupte     ...         8.4      168895  168895
Aaron Sorkin        Eddie Redmayne  ...         7.8       89896   89896
Abdellatif Kechiche Léa Seydoux     ...         7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor   ...         7.8       27175   27175
Abhishek Kapoor     Amit Sadh       ...         7.7       32628   32628
...                                 ...         ...         ...     ...
Zaza Urushadze      Lembit Ulfsak   ...         8.2       40382   40382
Zoya Akhtar         Hrithik Roshan  ...         8.1       67927   67927
                    Vijay Varma     ...         8.0       31886   31886
Çagan Irmak         Çetin Tekindor  ...         8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz      ...         8.0       56960   56960

                                                  Gross               \
                                       max          sum          min
Director            Star1
Aamir Khan          Amole Gupte     168895    1223869.0    1223869.0
Aaron Sorkin        Eddie Redmayne   89896  853090410.0  853090410.0
Abdellatif Kechiche Léa Seydoux     138741    2199675.0    2199675.0
Abhishek Chaubey    Shahid Kapoor    27175  218428303.0  218428303.0
Abhishek Kapoor     Amit Sadh        32628    1122527.0    1122527.0
...                                    ...          ...          ...
Zaza Urushadze      Lembit Ulfsak    40382     144501.0     144501.0
Zoya Akhtar         Hrithik Roshan   67927    3108485.0    3108485.0
                    Vijay Varma      31886    5566534.0    5566534.0
Çagan Irmak         Çetin Tekindor   78925  461855363.0  461855363.0
Ömer Faruk Sorak    Cem Yilmaz       56960  196206077.0  196206077.0

                                                Metascore
                                            max       sum   min   max
Director            Star1
Aamir Khan          Amole Gupte       1223869.0       0.0   NaN   NaN
Aaron Sorkin        Eddie Redmayne  853090410.0      77.0  77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675.0      89.0  89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303.0       0.0   NaN   NaN
Abhishek Kapoor     Amit Sadh         1122527.0      40.0  40.0  40.0
...                                         ...       ...   ...   ...
Zaza Urushadze      Lembit Ulfsak      144501.0      73.0  73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485.0       0.0   NaN   NaN
                    Vijay Varma       5566534.0      65.0  65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363.0       0.0   NaN   NaN
Ömer Faruk Sorak    Cem Yilmaz      196206077.0       0.0   NaN   NaN

[898 rows x 24 columns]

In [165]:
# ipl dataset named as 'delivery'
delivery.sample(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
125244,528,1,Kings XI Punjab,Delhi Daredevils,13,6,V Sehwag,WP Saha,NM Coulter-Nile,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
123567,521,1,Chennai Super Kings,Sunrisers Hyderabad,19,2,MS Dhoni,BB McCullum,RS Bopara,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
11756,50,2,Mumbai Indians,Kings XI Punjab,5,6,LMP Simmons,PA Patel,I Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [166]:
delivery.shape

(179078, 21)

In [173]:
# find the top 10 batsman in terms of runs scored

batsmen = delivery.groupby('batsman')
batsmen['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [199]:
# find the batsman with max no of sixes
most_sixes = delivery[delivery['batsman_runs'] == 6]
most_sixes.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
CH Gayle    327
Name: batsman, dtype: int64

In [234]:
# find batsman with most number of 4's and 6's in last 5 over
td = delivery[delivery['over'] > 15]
td = td[(td['batsman_runs'] == 4) | (td['batsman_runs'] == 6)]

In [244]:
td.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1)

batsman
MS Dhoni    340
Name: batsman, dtype: int64

In [252]:
delivery

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [258]:
# find V kohli's record against all teams
kohli = delivery[delivery['batsman'] == 'V Kohli']
kohli.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [289]:
delivery.sample(5)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
114715,484,1,Mumbai Indians,Royal Challengers Bangalore,18,5,KA Pollard,RG Sharma,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
43704,186,1,Deccan Chargers,Kings XI Punjab,18,1,WPUJC Vaas,TL Suman,SJ Srivastava,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
41211,176,1,Mumbai Indians,Rajasthan Royals,1,1,ST Jayasuriya,SR Tendulkar,AD Mascarenhas,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
73710,313,2,Deccan Chargers,Chennai Super Kings,1,4,DJ Harris,S Dhawan,R Ashwin,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
114844,484,2,Royal Challengers Bangalore,Mumbai Indians,19,4,AB Dinda,VR Aaron,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [278]:
# create a function that can return the highest score of any batsman
def highest_runs(batsmen):
    temp = delivery[delivery['batsman'] == batsmen]
    high_runs = temp.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]
    return high_runs

In [290]:
highest_runs('RG Sharma')

np.int64(109)