In [1]:
import numpy as np
import pandas as pd

In [2]:
# Can we have multiple index? Let's try

index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
a = pd.Series([1,2,3,4,5,6,7,8],index=index_val)
a[('cse', 2021)]

np.int64(3)

In [3]:
# problem?
a['cse'] # they are not independent, So not allowed to access

KeyError: 'cse'

In [4]:
# The solution --> multiindexin series(also known as hierarchy indexing)
# multiple index levels within  a single index

In [5]:
# How to create multiindex object 

# 1. pd.MultiIndex.from_tuples()
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ese', 2019),
            ('ese', 2020),
            ('ese', 2021),
            ('ese', 2022)],
           )

In [6]:
multiindex.levels

FrozenList([['cse', 'ese'], [2019, 2020, 2021, 2022]])

In [7]:
multiindex.levels[1]

Index([2019, 2020, 2021, 2022], dtype='int64')

In [8]:
# 2. pd.MultiIndex.from_product()
pd.MultiIndex.from_product([['cse','ese'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ese', 2019),
            ('ese', 2020),
            ('ese', 2021),
            ('ese', 2022)],
           )

# level inside multiindex object

In [9]:
# creating a  series with multiindex object 
s = pd.Series([1,2,3,4,5,6,7,8],index=multiindex)
s

cse  2019    1
     2020    2
     2021    3
     2022    4
ese  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

In [10]:
# how to fetch items from such a series 
s[('cse')]      # we can access its branches

2019    1
2020    2
2021    3
2022    4
dtype: int64

# a logical question to ask

In [11]:
# unstack  --> converts into DataFrame
temp = s.unstack()
temp

     2019  2020  2021  2022
cse     1     2     3     4
ese     5     6     7     8

In [12]:
# stack --> DataFrame to MultiIndex object  
temp.stack()

cse  2019    1
     2020    2
     2021    3
     2022    4
ese  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

# Then what was the point of multiindex series?

In [13]:
# multiindex DataFrame

In [14]:
branch_df1 = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16],
    ],
    index = multiindex,
    columns = ['avg_package','students']
)

branch_df1

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [ ]:
branch_df1.loc['cse']   # only cse data is fetched

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [ ]:
branch_df1.loc['ese']   # only ese data will be fetched

      avg_package  students
2019            9        10
2020           11        12
2021           13        14
2022           15        16

In [ ]:
branch_df1['avg_package']

cse  2019     1
     2020     3
     2021     5
     2022     7
ese  2019     9
     2020    11
     2021    13
     2022    15
Name: avg_package, dtype: int64

In [ ]:
branch_df1['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ese  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: int64

In [19]:
# Are column really different from index

In [20]:
# multiindex df from columns perspective
branch_df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
    ],
    index = [2019,2020,2021,2022],
    columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)

branch_df2

           delhi               mumbai
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        0
2021           5        6           0        0
2022           7        8           0        0

In [ ]:
branch_df2.loc[2019]        # for rows

delhi   avg_package    1
        students       2
mumbai  avg_package    0
        students       0
Name: 2019, dtype: int64

In [ ]:
branch_df2['delhi']     # for columns

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [ ]:
branch_df2['mumbai']['avg_package']     # for columns

2019    0
2020    0
2021    0
2022    0
Name: avg_package, dtype: int64

In [18]:
# Multiindex df in terms of both cols and index

branch_df3 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index = multiindex,
    columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)

branch_df3

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ese 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

# Stacking and Unstacking

In [43]:
branch_df1

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [45]:
branch_df1.unstack()

    avg_package                students
           2019 2020 2021 2022     2019 2020 2021 2022
cse           1    3    5    7        2    4    6    8
ese           9   11   13   15       10   12   14   16

In [44]:
branch_df1.unstack().unstack()    # unstack

avg_package  2019  cse     1
                   ese     9
             2020  cse     3
                   ese    11
             2021  cse     5
                   ese    13
             2022  cse     7
                   ese    15
students     2019  cse     2
                   ese    10
             2020  cse     4
                   ese    12
             2021  cse     6
                   ese    14
             2022  cse     8
                   ese    16
dtype: int64

In [46]:
branch_df3.stack()

C:\Users\sdkok\AppData\Local\Temp\ipykernel_2648\4148153360.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df3.stack()

                      delhi  mumbai
cse 2019 avg_package      1       0
         students         2       0
    2020 avg_package      3       0
         students         4       0
    2021 avg_package      5       0
         students         6       0
    2022 avg_package      7       0
         students         8       0
ese 2019 avg_package      9       0
         students        10       0
    2020 avg_package     11       0
         students        12       0
    2021 avg_package     13       0
         students        14       0
    2022 avg_package     15       0
         students        16       0

In [47]:
branch_df3.stack().stack()

C:\Users\sdkok\AppData\Local\Temp\ipykernel_2648\4023844418.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  branch_df3.stack().stack()

cse  2019  avg_package  delhi      1
                        mumbai     0
           students     delhi      2
                        mumbai     0
     2020  avg_package  delhi      3
                        mumbai     0
           students     delhi      4
                        mumbai     0
     2021  avg_package  delhi      5
                        mumbai     0
           students     delhi      6
                        mumbai     0
     2022  avg_package  delhi      7
                        mumbai     0
           students     delhi      8
                        mumbai     0
ese  2019  avg_package  delhi      9
                        mumbai     0
           students     delhi     10
                        mumbai     0
     2020  avg_package  delhi     11
                        mumbai     0
           students     delhi     12
                        mumbai     0
     2021  avg_package  delhi     13
                        mumbai     0
           students     delhi     14
                        mumbai     0
     2022  avg_package  delhi     15
                        mumbai     0
           students     delhi     16
                        mumbai     0
dtype: int64

In [ ]:
# Stack --> columns converted into row
# Unstack --> Rows converted into column

# Working with multiindex dataframes

In [48]:
# head and tails
branch_df3.head()

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ese 2019           9       10           0        0

In [49]:
branch_df3.tail()

               delhi               mumbai
         avg_package students avg_package students
cse 2022           7        8           0        0
ese 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [50]:
# info()
branch_df3.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8 entries, ('cse', np.int64(2019)) to ('ese', np.int64(2022))
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (delhi, avg_package)   8 non-null      int64
 1   (delhi, students)      8 non-null      int64
 2   (mumbai, avg_package)  8 non-null      int64
 3   (mumbai, students)     8 non-null      int64
dtypes: int64(4)
memory usage: 632.0+ bytes

In [52]:
# shape
branch_df3.shape

(8, 4)

In [53]:
# duplicated --> null
branch_df3.duplicated()

cse  2019    False
     2020    False
     2021    False
     2022    False
ese  2019    False
     2020    False
     2021    False
     2022    False
dtype: bool

In [54]:
branch_df2.duplicated()

2019    False
2020    False
2021    False
2022    False
dtype: bool

In [56]:
# Extracting single rows 
branch_df3.loc[('cse',2022)]

delhi   avg_package    7
        students       8
mumbai  avg_package    0
        students       0
Name: (cse, 2022), dtype: int64

In [60]:
# Multiple
branch_df3.loc[('cse',2019):('ese',2019):2]

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ese 2019           9       10           0        0

In [61]:
# iloc
branch_df3.iloc[0]

delhi   avg_package    1
        students       2
mumbai  avg_package    0
        students       0
Name: (cse, 2019), dtype: int64

In [63]:
branch_df3[0:5:2]

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2021           5        6           0        0
ese 2019           9       10           0        0

In [65]:
branch_df3['delhi']

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [67]:
# Extracting cols
branch_df3['delhi']['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ese  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: int64

In [69]:
branch_df3.iloc[:,1:3]

            delhi      mumbai
         students avg_package
cse 2019        2           0
    2020        4           0
    2021        6           0
    2022        8           0
ese 2019       10           0
    2020       12           0
    2021       14           0
    2022       16           0

In [ ]:
# Extracting both 
branch_df3.iloc[[0,4],[1,2]]        # fancy indexing

            delhi      mumbai
         students avg_package
cse 2019        2           0
ese 2019       10           0

In [76]:
# sort index 
# both --> descending --> diff order 
# based on one level
branch_df3.sort_index(ascending=False)

               delhi               mumbai
         avg_package students avg_package students
ese 2022          15       16           0        0
    2021          13       14           0        0
    2020          11       12           0        0
    2019           9       10           0        0
cse 2022           7        8           0        0
    2021           5        6           0        0
    2020           3        4           0        0
    2019           1        2           0        0

In [ ]:
branch_df3.sort_index(ascending=[False,True])

               delhi               mumbai
         avg_package students avg_package students
ese 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0

In [83]:
branch_df3.sort_index(level=1,ascending=False)

               delhi               mumbai
         avg_package students avg_package students
ese 2022          15       16           0        0
cse 2022           7        8           0        0
ese 2021          13       14           0        0
cse 2021           5        6           0        0
ese 2020          11       12           0        0
cse 2020           3        4           0        0
ese 2019           9       10           0        0
cse 2019           1        2           0        0

In [ ]:
# multiindex dataframe (col) --> transpose
branch_df3.transpose()  # row to column, column to row

                    cse                 ese
                   2019 2020 2021 2022 2019 2020 2021 2022
delhi  avg_package    1    3    5    7    9   11   13   15
       students       2    4    6    8   10   12   14   16
mumbai avg_package    0    0    0    0    0    0    0    0
       students       0    0    0    0    0    0    0    0

In [91]:
# swaplevel
branch_df3.swaplevel()

               delhi               mumbai
         avg_package students avg_package students
2019 cse           1        2           0        0
2020 cse           3        4           0        0
2021 cse           5        6           0        0
2022 cse           7        8           0        0
2019 ese           9       10           0        0
2020 ese          11       12           0        0
2021 ese          13       14           0        0
2022 ese          15       16           0        0

In [92]:
branch_df3.swaplevel(axis=1)

         avg_package students avg_package students
               delhi    delhi      mumbai   mumbai
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ese 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0