In [2]:
import numpy as np
import pandas as pd

In [12]:
# Can we have multiple index? Let's try

index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
a = pd.Series([1,2,3,4,5,6,7,8],index=index_val)
a[('cse', 2021)]

np.int64(3)

In [ ]:
# problem?
a['cse'] # they are not independent, So not allowed to access

KeyError: 'cse'

In [14]:
# The solution --> multiindexin series(also known as hierarchy indexing)
# multiple index levels within  a single index

In [22]:
# How to create multiindex object 

# 1. pd.MultiIndex.from_tuples()
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ese',2019),('ese',2020),('ese',2021),('ese',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ese', 2019),
            ('ese', 2020),
            ('ese', 2021),
            ('ese', 2022)],
           )

In [ ]:
multiindex.levels

FrozenList([['cse', 'ese'], [2019, 2020, 2021, 2022]])

In [25]:
multiindex.levels[1]

Index([2019, 2020, 2021, 2022], dtype='int64')

In [24]:
# 2. pd.MultiIndex.from_product()
pd.MultiIndex.from_product([['cse','ese'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ese', 2019),
            ('ese', 2020),
            ('ese', 2021),
            ('ese', 2022)],
           )

# level inside multiindex object

In [31]:
# creating a  series with multiindex object 
s = pd.Series([1,2,3,4,5,6,7,8],index=multiindex)
s

cse  2019    1
     2020    2
     2021    3
     2022    4
ese  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

In [32]:
# how to fetch items from such a series 
s[('cse')]      # we can access its branches

2019    1
2020    2
2021    3
2022    4
dtype: int64

# a logical question to ask

In [36]:
# unstack  --> converts into DataFrame
temp = s.unstack()
temp

     2019  2020  2021  2022
cse     1     2     3     4
ese     5     6     7     8

In [ ]:
# stack --> DataFrame to MultiIndex object  
temp.stack()

cse  2019    1
     2020    2
     2021    3
     2022    4
ese  2019    5
     2020    6
     2021    7
     2022    8
dtype: int64

# Then what was the point of multiindex series?

In [39]:
# multiindex DataFrame

In [40]:
branch_df1 = pd.DataFrame(
    [
        [1,2],
        [3,4],
        [5,6],
        [7,8],
        [9,10],
        [11,12],
        [13,14],
        [15,16],
    ],
    index = multiindex,
    columns = ['avg_package','students']
)

branch_df1

          avg_package  students
cse 2019            1         2
    2020            3         4
    2021            5         6
    2022            7         8
ese 2019            9        10
    2020           11        12
    2021           13        14
    2022           15        16

In [41]:
branch_df1.loc['cse']

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [48]:
branch_df1.loc['cse']

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8

In [56]:
branch_df1['avg_package']

cse  2019     1
     2020     3
     2021     5
     2022     7
ese  2019     9
     2020    11
     2021    13
     2022    15
Name: avg_package, dtype: int64

In [55]:
branch_df1['students']

cse  2019     2
     2020     4
     2021     6
     2022     8
ese  2019    10
     2020    12
     2021    14
     2022    16
Name: students, dtype: int64